<a href="https://colab.research.google.com/github/Kedarsinh01/python/blob/main/pandas12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
PANDAS

in pandas all collection data work except set data type

In [6]:
import pandas as pd
y=[1,2,3,4,45,5]   # we are using list data type
data=pd.Series(y,index=['a','b','c','d','e','f'],name='str data type')
print(data)

a     1
b     2
c     3
d     4
e    45
f     5
Name: str data type, dtype: int64

In [7]:
y='gey how are you my friend'   # we are using str data type
data=pd.Series(y,index=['a','b','c','d','e','f'],name='str data type')
print(data)

a    gey how are you my friend
b    gey how are you my friend
c    gey how are you my friend
d    gey how are you my friend
e    gey how are you my friend
f    gey how are you my friend
Name: str data type, dtype: object

In [8]:
y=(1,2,3,4,5,6)   # we are using tuple data type
data=pd.Series(y)
print(data)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [9]:
y={1,2,3,4,45,5}   # we are using set data type
data=pd.Series(y,index=['a','b','c','d','e','f'],name='str data type')
print(data)  #TypeError: 'set' type is unordered

TypeError: 'set' type is unordered

In [10]:
y={1:'a',2:'b',3:'c',4:'d',5:'e'}   # we are using dict data type
data=pd.Series(y)
print(data)
#below we can see output is in key value pair

1    a
2    b
3    c
4    d
5    e
dtype: object

In [13]:
y={1:'a',2:'b',3:'c',4:'d',5:'e'}   # we are using dict data type
data=pd.Series(y,index=[9,8,7,6,11]) # using dict if we change index values will nan
print(data)

9     NaN
8     NaN
7     NaN
6     NaN
11    NaN
dtype: object

In [15]:
import pandas as pd
a=pd.Series([1,2,3,4,'A'],index=['i','ii','iii','iv','v'],name='data')
# print(a)
print (a[0:3]) # OUTPUT GIVES FIRST THREE ELEMENT

i      1
ii     2
iii    3
Name: data, dtype: object

In [17]:

import pandas as pd
a=pd.Series([1,2,3,4,'A'],index=['i','ii','iii','iv','v'],name='data')
# print(a)
print (a[0]) # INDEXING

1

<ipython-input-17-7aecb7aec12d>:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print (a[0])

## **DataFrame**

In [19]:
import pandas as pd
d={ 'name':['Raj','mohit','karan'],
		'roll':[10,20,30],
		'city':['yavatmal','pune','mumbai']
	}
print(pd.DataFrame(d))

    name  roll      city
0    Raj    10  yavatmal
1  mohit    20      pune
2  karan    30    mumbai

# Head

In [25]:
import pandas as pd
d={ 'name':['Raj','mohit','karan'],
		'roll':[10,20,30],
		'city':['yavatmal','pune','mumbai']
	}
pd.DataFrame(d.head(2)) #AttributeError: 'dict' object has no attribute 'head'

AttributeError: 'dict' object has no attribute 'head'

In [26]:
import pandas as pd
d={ 'name':['Raj','mohit','karan'],
		'roll':[10,20,30],
		'city':['yavatmal','pune','mumbai']
	}
pd.DataFrame(d).head(2) # no error

    name  roll      city
0    Raj    10  yavatmal
1  mohit    20      pune

In [27]:
import pandas as pd
d={ 'name':['Raj','mohit','karan'],
		'roll':[10,20,30],
		'city':['yavatmal','pune','mumbai']
	}
g=pd.DataFrame(d)
print(g.head(1)) #using variable

  name  roll      city
0  Raj    10  yavatmal

## **Tail**()

In [28]:
import pandas as pd
d={ 'name':['Raj','mohit','karan'],
		'roll':[10,20,30],
		'city':['yavatmal','pune','mumbai']
	}
pd.DataFrame(d).tail(2) #gives last two element

    name  roll    city
1  mohit    20    pune
2  karan    30  mumbai

### **Describe**

In [32]:
import pandas as pd
d={ 'name':['Raj','mohit','karan'],
		'roll':[10,20,30],
		'city':['yavatmal','pune','mumbai']
	}
g=pd.DataFrame(d)
# print(g.describe()) # use to describe only number column
# pd.DataFrame(d).describe()
# print(pd.DataFrame(d).describe())
# print(g.describe(include='object')) # use to describe str datatype also

       name      city
count     3         3
unique    3         3
top     Raj  yavatmal
freq      1         1

## **shape** property

In [34]:
import pandas as pd
d={ 'name':['Raj','mohit','karan'],
		'roll':[10,20,30],
		'city':['yavatmal','pune','mumbai']
	}
g=pd.DataFrame(d)
# print(g.shape) #gives the shape of the dataframe it is a property it does not take any argument
# print(g.columns) #gives the shape of the dataframe it is a property it does not take any argument
# pd.DataFrame(d).shape #gives the shape of the dict

Index(['name', 'roll', 'city'], dtype='object')

### **fetch single and multiple column**

In [36]:
import pandas as pd
d={ 'name':['Raj','mohit','karan'],
		'roll':[10,20,30],
		'city':['yavatmal','pune','mumbai']
	}
g=pd.DataFrame(d)
print(g['name']) # sinle column fetching
print(g[['name','roll','city']]) #multiple column fetching 'we have to use two square brackets'

0      Raj
1    mohit
2    karan
Name: name, dtype: object
    name  roll      city
0    Raj    10  yavatmal
1  mohit    20      pune
2  karan    30    mumbai

### **Pandas slicing**

In [41]:
import pandas as pd
d={ 'name':['Raj','mohit','karan'],
		'roll':[10,20,30],
		'city':['yavatmal','pune','mumbai']
	}
g=pd.DataFrame(d)
# print(g['name'][0:1])                 #slicing for single column
# print(g[['name','roll']][0:2])         # slicing for multiple column
# print(g.iterrows())                   # output will be object address

<generator object DataFrame.iterrows at 0x78e831f22570>

### **Iterrows**

In [46]:
import pandas as pd
d={ 'name':['Raj','mohit','karan'],
		'roll':[10,20,30],
		'city':['yavatmal','pune','mumbai']
	}
g=pd.DataFrame(d)
print(g.iterrows())        # output will be object address using type casting
for i in g.iterrows():    # it gives the all the details separately of the respective index number
	print(i)
	print()

<generator object DataFrame.iterrows at 0x78e831f228a0>
(0, name         Raj
roll          10
city    yavatmal
Name: 0, dtype: object)

(1, name    mohit
roll       20
city     pune
Name: 1, dtype: object)

(2, name     karan
roll        30
city    mumbai
Name: 2, dtype: object)