<a href="https://colab.research.google.com/github/Kedarsinh01/python/blob/main/pandasday4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## INSERT()

In [51]:
import pandas as pd
employee_data = {
    "EID": [101, 102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "David", "Emma"],
    "Dept": ["HR", "IT", "Finance", "Marketing", "Sales"],
    "Sal": [50000, 60000, 55000, 52000, 58000],
    "Joining_Date": ["2020-06-15", "2019-08-01", "2021-01-10", "2018-07-20", "2022-03-05"],
    "Experience (Years)": [3, 4, 2, 5, 1]
}
data=pd.DataFrame(employee_data)
# print(data)
data['Bonus']=[1000,2000,3000,4000,5000] #add the column to the DataFrame
data.insert(2,'Age',[23,24,22,21,20])  #insert new column with values size should be same as previous column
print(data)

   EID     Name  Age       Dept    Sal Joining_Date  Experience (Years)  Bonus
0  101    Alice   23         HR  50000   2020-06-15                   3   1000
1  102      Bob   24         IT  60000   2019-08-01                   4   2000
2  103  Charlie   22    Finance  55000   2021-01-10                   2   3000
3  104    David   21  Marketing  52000   2018-07-20                   5   4000
4  105     Emma   20      Sales  58000   2022-03-05                   1   5000

# **ASSIGN()**

In [10]:
data.assign(rno=[1,2,3,4,5],batch=[22,33,44,55,66]) #in assign method " " quotes are not needed to colname

,EID,Name,Age,Dept,Sal,Joining_Date,Experience (Years),rno,batch
0,101,Alice,23,HR,50000,2020-06-15,3,1,22
1,102,Bob,24,IT,60000,2019-08-01,4,2,33
2,103,Charlie,22,Finance,55000,2021-01-10,2,3,44
3,104,David,21,Marketing,52000,2018-07-20,5,4,55
4,105,Emma,20,Sales,58000,2022-03-05,1,5,66

# **DROP()**

In [14]:
data.drop('Age',axis=1) #  column and axis=1 is for deleting entire column
data.drop(4,axis=0)     #   index and axis=0 is used for deleting entire row

   EID     Name  Age       Dept    Sal Joining_Date  Experience (Years)
0  101    Alice   23         HR  50000   2020-06-15                   3
1  102      Bob   24         IT  60000   2019-08-01                   4
2  103  Charlie   22    Finance  55000   2021-01-10                   2
3  104    David   21  Marketing  52000   2018-07-20                   5

# **POP()**

In [21]:
# data.pop('Joining_Date')
print(data)

   EID     Name  Age       Dept    Sal  Experience (Years)
0  101    Alice   23         HR  50000                   3
1  102      Bob   24         IT  60000                   4
2  103  Charlie   22    Finance  55000                   2
3  104    David   21  Marketing  52000                   5
4  105     Emma   20      Sales  58000                   1

# **del (keyword)**

In [22]:
del data['Age']
print(data)

   EID     Name       Dept    Sal  Experience (Years)
0  101    Alice         HR  50000                   3
1  102      Bob         IT  60000                   4
2  103  Charlie    Finance  55000                   2
3  104    David  Marketing  52000                   5
4  105     Emma      Sales  58000                   1

# **astype() **
- It is used to convert the datatype to another datatype of the particular column

In [28]:
import pandas as pd
employee_data = {
    "EID": [101, 102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "David", "Emma"],
    "Dept": ["HR", "IT", "Finance", "Marketing", "Sales"],
    "Sal": [50000, 60000, 55000, 52000, 58000],
    "Joining_Date": ["2020-06-15", "2019-08-01", "2021-01-10", "2018-07-20", "2022-03-05"],
    "Experience (Years)": [3, 4, 2, 5, 1]
}

data=pd.DataFrame(employee_data)
# print(data)
print(data.astype({'EID':bool,'Sal':float}))     #used to change the datatype

    EID     Name       Dept      Sal Joining_Date  Experience (Years)
0  True    Alice         HR  50000.0   2020-06-15                   3
1  True      Bob         IT  60000.0   2019-08-01                   4
2  True  Charlie    Finance  55000.0   2021-01-10                   2
3  True    David  Marketing  52000.0   2018-07-20                   5
4  True     Emma      Sales  58000.0   2022-03-05                   1

# **Fillna() **

- used to fill the null values in the dataframe

In [32]:
employee_data = {
    "Employee_ID": [101, None, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "David",None],
    "Department": ["HR", "IT", None, "Marketing", "Sales"],
    "Salary": [None, 60000, 55000, 52000, 58000],
    "Joining_Date": ["2020-06-15", "2019-08-01", None, "2018-07-20", "2022-03-05"],
    "Experience (Years)": [3, 4, None, 5, 1]
}

data=pd.DataFrame(employee_data)
print(data)
# data.fillna(9999)  #9999 is filled at all the null value

   Employee_ID     Name Department   Salary Joining_Date  Experience (Years)
0        101.0    Alice         HR      NaN   2020-06-15                 3.0
1          NaN      Bob         IT  60000.0   2019-08-01                 4.0
2        103.0  Charlie       None  55000.0         None                 NaN
3        104.0    David  Marketing  52000.0   2018-07-20                 5.0
4        105.0     None      Sales  58000.0   2022-03-05                 1.0

#  1)ffill() forward fill
-It copys the previous value to the null

#  2)bfill()
-It copys the next value to the  null

In [50]:
employee_data = {
    "Employee_ID": [101, None, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "David",None],
    "Department": ["HR", "IT", None, "Marketing", "Sales"],
    "Salary": [None, 60000, 55000, 52000, 58000],
    "Joining_Date": ["2020-06-15", "2019-08-01", None, "2018-07-20", "2022-03-05"],
    "Experience (Years)": [3, 4, None, 5, 1]
}

data=pd.DataFrame(employee_data)
print(data.ffill(axis=1))           # axis=1 forward fill column to column  / axis=0 forward fill row by row

  Employee_ID     Name Department   Salary Joining_Date Experience (Years)
0       101.0    Alice         HR       HR   2020-06-15                3.0
1         NaN      Bob         IT  60000.0   2019-08-01                4.0
2       103.0  Charlie    Charlie  55000.0      55000.0            55000.0
3       104.0    David  Marketing  52000.0   2018-07-20                5.0
4       105.0    105.0      Sales  58000.0   2022-03-05                1.0

In [49]:
print(data.bfill(axis=1))    # axis=1 backward fill column to column  / axis=0 backward fill row by row

  Employee_ID     Name Department      Salary Joining_Date Experience (Years)
0       101.0    Alice         HR  2020-06-15   2020-06-15                3.0
1         Bob      Bob         IT     60000.0   2019-08-01                4.0
2       103.0  Charlie    55000.0     55000.0          NaN                NaN
3       104.0    David  Marketing     52000.0   2018-07-20                5.0
4       105.0    Sales      Sales     58000.0   2022-03-05                1.0



* duplicated()           - checks the duplicate element  
* drop_duplicates()      - delete the duplicated element


*   isnull()               - if missing value is present then it will give true else false
*  isnull().sum()         - gives the sum of the true element


* notnull()           -it will show true if the position is not null

In [40]:
print(data.duplicated())
print(data.drop_duplicates())
print(data.isnull())
print(data.isnull().sum())
print(data.notnull())

0    False
1    False
2    False
3    False
4    False
dtype: bool
   Employee_ID     Name Department   Salary Joining_Date  Experience (Years)
0        101.0    Alice         HR      NaN   2020-06-15                 3.0
1          NaN      Bob         IT  60000.0   2019-08-01                 4.0
2        103.0  Charlie       None  55000.0         None                 NaN
3        104.0    David  Marketing  52000.0   2018-07-20                 5.0
4        105.0     None      Sales  58000.0   2022-03-05                 1.0
   Employee_ID   Name  Department  Salary  Joining_Date  Experience (Years)
0        False  False       False    True         False               False
1         True  False       False   False         False               False
2        False  False        True   False          True                True
3        False  False       False   False         False               False
4        False   True       False   False         False               False
Employee_ID           1
Name                  1
Department            1
Salary                1
Joining_Date          1
Experience (Years)    1
dtype: int64
   Employee_ID   Name  Department  Salary  Joining_Date  Experience (Years)
0         True   True        True   False          True                True
1        False   True        True    True          True                True
2         True   True       False    True         False               False
3         True   True        True    True          True                True
4         True  False        True    True          True                True

# **dropna()** - used to delete the null temporaryly
     #dropna(inplace=True)  it is used to delete the null values permenently

In [44]:
print(data)
data.dropna(inplace=True) #delete the row which content null value
print(data)

   Employee_ID     Name Department   Salary Joining_Date  Experience (Years)
0        101.0    Alice         HR      NaN   2020-06-15                 3.0
1          NaN      Bob         IT  60000.0   2019-08-01                 4.0
2        103.0  Charlie       None  55000.0         None                 NaN
3        104.0    David  Marketing  52000.0   2018-07-20                 5.0
4        105.0     None      Sales  58000.0   2022-03-05                 1.0
   Employee_ID   Name Department   Salary Joining_Date  Experience (Years)
3        104.0  David  Marketing  52000.0   2018-07-20                 5.0