<a href="https://colab.research.google.com/github/Kedarsinh01/python/blob/main/pandaspractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
x= {
    "Employee_ID": [101, 102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "David", "Emma"],
    "Department": ["HR", "IT", "Finance", "Marketing", "Sales"],
    "Salary": [50000, 60000, 55000, 52000, 58000],
    "Joining_Date": ["2020-06-15", "2019-08-01", "2021-01-10", "2018-07-20", "2022-03-05"],
    "Experience (Years)": [3, 4, 2, 5, 1]
}
data=pd.DataFrame(x,index=[0,1,2,3,4])
print(data)

   Employee_ID     Name Department  Salary Joining_Date  Experience (Years)
0          101    Alice         HR   50000   2020-06-15                   3
1          102      Bob         IT   60000   2019-08-01                   4
2          103  Charlie    Finance   55000   2021-01-10                   2
3          104    David  Marketing   52000   2018-07-20                   5
4          105     Emma      Sales   58000   2022-03-05                   1

In [ ]:
print(data.describe())   #it will give the description for only col including numerical data

       Employee_ID        Salary  Experience (Years)
count     5.000000      5.000000            5.000000
mean    103.000000  55000.000000            3.000000
std       1.581139   4123.105626            1.581139
min     101.000000  50000.000000            1.000000
25%     102.000000  52000.000000            2.000000
50%     103.000000  55000.000000            3.000000
75%     104.000000  58000.000000            4.000000
max     105.000000  60000.000000            5.000000

In [ ]:
print(data.describe(include=object))  #it will give the description for only col including object data

         Name Department Joining_Date
count       5          5            5
unique      5          5            5
top     Alice         HR   2020-06-15
freq        1          1            1

In [ ]:
print(data.describe(include='all'))  #it will give the description for all col

        Employee_ID   Name Department        Salary Joining_Date  \
count      5.000000      5          5      5.000000            5
unique          NaN      5          5           NaN            5
top             NaN  Alice         HR           NaN   2020-06-15
freq            NaN      1          1           NaN            1
mean     103.000000    NaN        NaN  55000.000000          NaN
std        1.581139    NaN        NaN   4123.105626          NaN
min      101.000000    NaN        NaN  50000.000000          NaN
25%      102.000000    NaN        NaN  52000.000000          NaN
50%      103.000000    NaN        NaN  55000.000000          NaN
75%      104.000000    NaN        NaN  58000.000000          NaN
max      105.000000    NaN        NaN  60000.000000          NaN

        Experience (Years)
count             5.000000
unique                 NaN
top                    NaN
freq                   NaN
mean              3.000000
std               1.581139
min               1.000000
25%               2.000000
50%               3.000000
75%               4.000000
max               5.000000

In [ ]:
print(data.describe(include="number"))

       Employee_ID        Salary  Experience (Years)
count     5.000000      5.000000            5.000000
mean    103.000000  55000.000000            3.000000
std       1.581139   4123.105626            1.581139
min     101.000000  50000.000000            1.000000
25%     102.000000  52000.000000            2.000000
50%     103.000000  55000.000000            3.000000
75%     104.000000  58000.000000            4.000000
max     105.000000  60000.000000            5.000000

In [ ]:
print(data.size)

30

In [ ]:
print(data.ndim)

2

In [ ]:
print(data.index)

RangeIndex(start=0, stop=5, step=1)

In [ ]:
print(data.memory_usage())

Index                 132
Employee_ID            40
Name                   40
Department             40
Salary                 40
Joining_Date           40
Experience (Years)     40
dtype: int64

In [ ]:
print(data.columns)

Index(['Employee_ID', 'Name', 'Department', 'Salary', 'Joining_Date',
       'Experience (Years)'],
      dtype='object')

In [ ]:
print(data.dtypes)

Employee_ID            int64
Name                  object
Department            object
Salary                 int64
Joining_Date          object
Experience (Years)     int64
dtype: object

In [ ]:
print(data.values)

[[101 'Alice' 'HR' 50000 '2020-06-15' 3]
 [102 'Bob' 'IT' 60000 '2019-08-01' 4]
 [103 'Charlie' 'Finance' 55000 '2021-01-10' 2]
 [104 'David' 'Marketing' 52000 '2018-07-20' 5]
 [105 'Emma' 'Sales' 58000 '2022-03-05' 1]]

In [ ]:
print(data.loc[1]) #give the data from index position as per required of each column

Employee_ID                  102
Name                         Bob
Department                    IT
Salary                     60000
Joining_Date          2019-08-01
Experience (Years)             4
Name: 1, dtype: object

In [ ]:
print(data.loc[2,'Name']) #gives the data from the specified column and specified position

Charlie

In [ ]:
print(data.loc[0:3])    #slicing on the dataframe

   Employee_ID     Name Department  Salary Joining_Date  Experience (Years)
0          101    Alice         HR   50000   2020-06-15                   3
1          102      Bob         IT   60000   2019-08-01                   4
2          103  Charlie    Finance   55000   2021-01-10                   2
3          104    David  Marketing   52000   2018-07-20                   5

In [ ]:
print(data.loc[0:2,'Name'])

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

In [ ]:
print(data.iloc[1,3])

60000

In [ ]:
print(data.iloc[0:2,0:3])

   Employee_ID   Name Department
0          101  Alice         HR
1          102    Bob         IT

In [3]:
print(data.iloc[[1,2,3]]) #used to print multiple rows

   Employee_ID     Name Department  Salary Joining_Date  Experience (Years)
1          102      Bob         IT   60000   2019-08-01                   4
2          103  Charlie    Finance   55000   2021-01-10                   2
3          104    David  Marketing   52000   2018-07-20                   5

In [4]:
print(data.iloc[[1,2,3],[0,2]])   #used to print multiple rows and multiple column

   Employee_ID Department
1          102         IT
2          103    Finance
3          104  Marketing

In [33]:
data.insert(2,'age',[21,22,23,24,25])  # col age is added
print(data)

   Employee_ID     Name  age Department  Salary Joining_Date  \
0          101    Alice   21         HR   50000   2020-06-15
1          102      Bob   22         IT   60000   2019-08-01
2          103  Charlie   23    Finance   55000   2021-01-10
3          104    David   24  Marketing   52000   2018-07-20
4          105     Emma   25      Sales   58000   2022-03-05

   Experience (Years)
0                   3
1                   4
2                   2
3                   5
4                   1

In [24]:
data.assign(gender=['m','f','f','m','f'],paidleave=[1,2,1,2,1]) #used to add multiple columns at th end of the dataframe
# data

,Employee_ID,Name,age,Department,Salary,Joining_Date,Experience (Years)
0,101,Alice,21,HR,50000,2020-06-15,3
1,102,Bob,22,IT,60000,2019-08-01,4
2,103,Charlie,23,Finance,55000,2021-01-10,2
3,104,David,24,Marketing,52000,2018-07-20,5
4,105,Emma,25,Sales,58000,2022-03-05,1

In [15]:
data.drop('age',axis=1)   #delete the the col from the dataframe

   Employee_ID     Name Department  Salary Joining_Date  Experience (Years)
0          101    Alice         HR   50000   2020-06-15                   3
1          102      Bob         IT   60000   2019-08-01                   4
2          103  Charlie    Finance   55000   2021-01-10                   2
3          104    David  Marketing   52000   2018-07-20                   5
4          105     Emma      Sales   58000   2022-03-05                   1

In [35]:
data.drop(1,axis=0)  #delete the row from the dataframe

,Employee_ID,Name,age,Department,Salary,Joining_Date,Experience (Years)
0,101,Alice,21,HR,50000,2020-06-15,3
2,103,Charlie,23,Finance,55000,2021-01-10,2
3,104,David,24,Marketing,52000,2018-07-20,5
4,105,Emma,25,Sales,58000,2022-03-05,1

In [36]:
print(data)

   Employee_ID     Name  age Department  Salary Joining_Date  \
0          101    Alice   21         HR   50000   2020-06-15
1          102      Bob   22         IT   60000   2019-08-01
2          103  Charlie   23    Finance   55000   2021-01-10
3          104    David   24  Marketing   52000   2018-07-20
4          105     Emma   25      Sales   58000   2022-03-05

   Experience (Years)
0                   3
1                   4
2                   2
3                   5
4                   1

In [37]:
print(data.pop('age')) #used to delete data permanently

0    21
1    22
2    23
3    24
4    25
Name: age, dtype: int64

In [38]:
print(data)

   Employee_ID     Name Department  Salary Joining_Date  Experience (Years)
0          101    Alice         HR   50000   2020-06-15                   3
1          102      Bob         IT   60000   2019-08-01                   4
2          103  Charlie    Finance   55000   2021-01-10                   2
3          104    David  Marketing   52000   2018-07-20                   5
4          105     Emma      Sales   58000   2022-03-05                   1

In [42]:
# del data['Salary']
print(data) # delete the column permanently

   Employee_ID     Name Department Joining_Date  Experience (Years)
0          101    Alice         HR   2020-06-15                   3
1          102      Bob         IT   2019-08-01                   4
2          103  Charlie    Finance   2021-01-10                   2
3          104    David  Marketing   2018-07-20                   5
4          105     Emma      Sales   2022-03-05                   1

In [62]:
y=data.astype({'Experience (Years)':complex})   # used to change the datatyoe of particular column
print(y)

   Employee_ID     Name Department Joining_Date  Experience (Years)
0          101    Alice         HR   2020-06-15            3.0+0.0j
1          102      Bob         IT   2019-08-01            4.0+0.0j
2          103  Charlie    Finance   2021-01-10            2.0+0.0j
3          104    David  Marketing   2018-07-20            5.0+0.0j
4          105     Emma      Sales   2022-03-05            1.0+0.0j

In [116]:
a={
    "Employee_ID": [101, 102, 103, 104, 101],
    "Name": ["Alice", "Bob",None, "David", "Emma"],  # Missing name for Employee 103
    "Department": ["HR",None, "Finance", "Marketing", "Sales"],  # Missing department for Employee 102
    "Salary": [60000, 60000, 55000,None,58000],  # Missing salary for Employee 104
    "Joining_Date": ["2020-06-15", "2019-08-01", "2021-01-10", "2018-07-20", None]  # Missing joining date for Employee 105
}
d=pd.DataFrame(a)
print(d)

   Employee_ID   Name Department   Salary Joining_Date
0          101  Alice         HR  60000.0   2020-06-15
1          102    Bob       None  60000.0   2019-08-01
2          103   None    Finance  55000.0   2021-01-10
3          104  David  Marketing      NaN   2018-07-20
4          101   Emma      Sales  58000.0         None

In [88]:
g=d.fillna(0)
print(g)

   Employee_ID   Name Department   Salary Joining_Date
0          101  Alice         HR  50000.0   2020-06-15
1          102    Bob          0  60000.0   2019-08-01
2          103      0    Finance  55000.0   2021-01-10
3          104  David  Marketing      0.0   2018-07-20
4          105   Emma      Sales  58000.0            0

In [96]:
d.ffill()  # default row by row filling
# print(d)

   Employee_ID   Name Department   Salary Joining_Date
0          101  Alice         HR  50000.0   2020-06-15
1          102    Bob         HR  60000.0   2019-08-01
2          103    Bob    Finance  55000.0   2021-01-10
3          104  David  Marketing  55000.0   2018-07-20
4          105   Emma      Sales  58000.0   2018-07-20

In [98]:
d.bfill()

   Employee_ID   Name Department   Salary Joining_Date
0          101  Alice         HR  50000.0   2020-06-15
1          102    Bob    Finance  60000.0   2019-08-01
2          103  David    Finance  55000.0   2021-01-10
3          104  David  Marketing  58000.0   2018-07-20
4          105   Emma      Sales  58000.0         None

In [117]:
d.duplicated(subset="Employee_ID")   # returns true or false

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [122]:
p=d.drop_duplicates(subset="Employee_ID") # here the entire row will be deleted
print(p)

   Employee_ID   Name Department   Salary Joining_Date
0          101  Alice         HR  60000.0   2020-06-15
1          102    Bob       None  60000.0   2019-08-01
2          103   None    Finance  55000.0   2021-01-10
3          104  David  Marketing      NaN   2018-07-20

In [127]:
d.isnull()

   Employee_ID   Name  Department  Salary  Joining_Date
0        False  False       False   False         False
1        False  False        True   False         False
2        False   True       False   False         False
3        False  False       False    True         False
4        False  False       False   False          True

In [128]:
d.dropna()

   Employee_ID   Name Department   Salary Joining_Date
0          101  Alice         HR  60000.0   2020-06-15

In [133]:
g=pd.to_datetime(d['Joining_Date'])
print(g)

0   2020-06-15
1   2019-08-01
2   2021-01-10
3   2018-07-20
4          NaT
Name: Joining_Date, dtype: datetime64[ns]

In [136]:
g.dt.month

0    6.0
1    8.0
2    1.0
3    7.0
4    NaN
Name: Joining_Date, dtype: float64

In [137]:
g.dt.year

0    2020.0
1    2019.0
2    2021.0
3    2018.0
4       NaN
Name: Joining_Date, dtype: float64

In [141]:
print(g.dt.day_name())

0      Monday
1    Thursday
2      Sunday
3      Friday
4         NaN
Name: Joining_Date, dtype: object

In [145]:
print(g.dt.weekday)

0    0.0
1    3.0
2    6.0
3    4.0
4    NaN
Name: Joining_Date, dtype: float64

In [146]:
data

   Employee_ID     Name Department Joining_Date  Experience (Years)
0          101    Alice         HR   2020-06-15                   3
1          102      Bob         IT   2019-08-01                   4
2          103  Charlie    Finance   2021-01-10                   2
3          104    David  Marketing   2018-07-20                   5
4          105     Emma      Sales   2022-03-05                   1

In [148]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Employee_ID         5 non-null      int64
 1   Name                5 non-null      object
 2   Department          5 non-null      object
 3   Joining_Date        5 non-null      object
 4   Experience (Years)  5 non-null      int64
dtypes: int64(2), object(3)
memory usage: 412.0+ bytes
None

In [154]:
data.sample()     #by default gives the single output randomly every time
data.sample(n=3)  # gives 3 random outputs

   Employee_ID   Name Department Joining_Date  Experience (Years)
3          104  David  Marketing   2018-07-20                   5
4          105   Emma      Sales   2022-03-05                   1
1          102    Bob         IT   2019-08-01                   4

In [155]:
data.iterrows()    # gives object address

In [158]:
print(list(data.iterrows()))    # here type casting is used
print()

[(0, Employee_ID                  101
Name                       Alice
Department                    HR
Joining_Date          2020-06-15
Experience (Years)             3
Name: 0, dtype: object), (1, Employee_ID                  102
Name                         Bob
Department                    IT
Joining_Date          2019-08-01
Experience (Years)             4
Name: 1, dtype: object), (2, Employee_ID                  103
Name                     Charlie
Department               Finance
Joining_Date          2021-01-10
Experience (Years)             2
Name: 2, dtype: object), (3, Employee_ID                  104
Name                       David
Department             Marketing
Joining_Date          2018-07-20
Experience (Years)             5
Name: 3, dtype: object), (4, Employee_ID                  105
Name                        Emma
Department                 Sales
Joining_Date          2022-03-05
Experience (Years)             1
Name: 4, dtype: object)]

In [163]:
for i,j in data.iterrows():
    print(i,j[['Name','Department']])
    print()

0 Name          Alice
Department       HR
Name: 0, dtype: object

1 Name          Bob
Department     IT
Name: 1, dtype: object

2 Name          Charlie
Department    Finance
Name: 2, dtype: object

3 Name              David
Department    Marketing
Name: 3, dtype: object

4 Name           Emma
Department    Sales
Name: 4, dtype: object

In [164]:
for i in data.itertuples():
    print(i)
    print()

Pandas(Index=0, Employee_ID=101, Name='Alice', Department='HR', Joining_Date='2020-06-15', _5=3)

Pandas(Index=1, Employee_ID=102, Name='Bob', Department='IT', Joining_Date='2019-08-01', _5=4)

Pandas(Index=2, Employee_ID=103, Name='Charlie', Department='Finance', Joining_Date='2021-01-10', _5=2)

Pandas(Index=3, Employee_ID=104, Name='David', Department='Marketing', Joining_Date='2018-07-20', _5=5)

Pandas(Index=4, Employee_ID=105, Name='Emma', Department='Sales', Joining_Date='2022-03-05', _5=1)

In [168]:
for i in data.iterrows():
  print(i)

(0, Employee_ID                  101
Name                       Alice
Department                    HR
Joining_Date          2020-06-15
Experience (Years)             3
Name: 0, dtype: object)
(1, Employee_ID                  102
Name                         Bob
Department                    IT
Joining_Date          2019-08-01
Experience (Years)             4
Name: 1, dtype: object)
(2, Employee_ID                  103
Name                     Charlie
Department               Finance
Joining_Date          2021-01-10
Experience (Years)             2
Name: 2, dtype: object)
(3, Employee_ID                  104
Name                       David
Department             Marketing
Joining_Date          2018-07-20
Experience (Years)             5
Name: 3, dtype: object)
(4, Employee_ID                  105
Name                        Emma
Department                 Sales
Joining_Date          2022-03-05
Experience (Years)             1
Name: 4, dtype: object)